

.App {
  text-align: center;
  color:rgb(76, 0, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .skills-card {
    border-radius: 0;
    width: 120px;
    height: 120px;
  }
.wallpaper{
  /* background-image: url('/wallpaper.jpg'); */
  background-size: cover;
    background-position: center;
}
.resume {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 700px;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .resume {
    margin-left: 20px;
    margin-right: 20px;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .resume {
    margin-left: 100px;
    margin-right: 100px;
  }
  }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .resume {
    margin-left: 200px;
    margin-right: 200px;
  }
}
.circle {
  width: 140px; /* Adjust the circle size as per your requirement */
  height: 140px; /* Adjust the circle size as per your requirement */
  border-radius: 90%; /* Create a circle shape */
  background-color: #ccc; /* Adjust the background color as per your requirement */
  margin-right: 50px; /* Adjust the margin between the circle and the content as per your requirement */
}
.profile-card{
  display: flex;
  align-items: center; /* Center align the circle vertically */
  justify-content: center;
}
.heading{
  color: rgb(230, 230, 239);
}
